html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /*min-height: 100vh;*/
    font-family: 'Roboto', sans-serif;
    background-color: #ecd7fa;
}


* {
    box-sizing: border-box;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #858585;
}

h3 {
    color: purple;
}

.h3_open {
    color: #000000;
}

.accordion {
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

.item {
    border-bottom: 1px solid #858585;
}

.item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/down-arrow-10.svg");
}

.icon_cross {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/cross-23.svg");
}

.accordion:hover h3 {
    color: #000000;
}

.accordion:hover .icon, .accordion:hover .icon_cross {
    display: block;
    transition: 0.3s;
}

.item_content {
    display: none;
    padding-bottom: 20px;
    text-align: center;
}

.item_content > img {
    width: 300px;
}

.meme1 {
    display: block;
}

